@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');*{
  *{ 
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    background-color: black;
    color: whitesmoke;
    justify-content: center;
    gap: 170px;
    font-size: 100px;
    align-items: center;
}
.container-two button{
  
    border-radius: 0 10px 10px 0;
    background-color: brown;
    border-color: transparent;
    height: 45px;
    font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 200px;
  cursor: pointer;
}
.container-two input{
    border-color: transparent;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px 0 0 10px;
    height: 40px;
}
input:focus{
   outline: none;
}
.container-two{
    display: flex;
 height: 300px;

    justify-content: center;
   
    align-items: center;
    background-color: goldenrod;
}

abbr{
    text-decoration: none;
    font-size: 30px;
    
}

#goodAnswer,#wrongAnswer{
   
    border-radius: 10px;
    margin-bottom: 10px;
}

#gift{
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}
input{
    font-size: 25px;
  
}
#btn1{
    font-size: 25px ;
 
}